@import "tailwindcss";

@theme {
  --color-light-primary: #FFD60A ;
  --color-light-secondary: #FFC300;
  --color-dark-primary: #003566;
  --color-dark-secondary: #001D3D;
  --color-dark-tertiary: #000814;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Krub', sans-serif;
}

.noise {
  background-image: url('/noise-background.png');
  background-repeat: repeat;
  background-size: auto;
}